@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: rgb(245, 232, 223);
  background: linear-gradient(
    45deg,
    rgba(245, 232, 223, 1) 30%,
    rgba(124, 104, 85, 1) 70%
  );
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas {
  height: 300px;
  width: 320px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 20px 20px 16px 0 rgba(0, 0, 0, 0.2),
    0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.left-side-colon {
  width: 280px;
}

.canvas-round {
  width: 85px;
  height: 85px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative;
  left: -0.15em;
  top: 0.09em;
}

.round-border {
  width: 100px;
  height: 100px;
  position: fixed;
  background-color: #7c6855;
  position: absolute;
  z-index: 1;
  border-radius: 50px;
  left: 3.1em;
  top: 2.25em;
}

.box {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #fff;
}

.st {
  z-index: 2;
  left: 3em;
  top: 2em;
}

.nd {
  z-index: 3;
  left: 6.5em;
  top: 6em;
}

.round-position:hover .st {
  left: 8em;
  transition-duration: 5s;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.round-position:hover .nd {
  left: 1.5em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.round-border1 {
  width: 95px;
  height: 95px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  border-radius: 50px;
  left: 3.25em;
  top: 2.44em;
}

.round-border2 {
  width: 93px;
  height: 93px;
  background-color: #7c6855;
  position: absolute;
  z-index: 4;
  border-radius: 50px;
  left: 3.3em;
  top: 2.49em;
}

.round-border3 {
  width: 88px;
  height: 88px;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  border-radius: 50px;
  left: 3.45em;
  top: 2.65em;
}

.round-position {
  padding: 2em 0 0 3.7em;
}

.buttons {
  text-align: center;
  padding-top: 2em 0em;
}

.button {
  padding-bottom: 0.5em;
}

button {
  color: #7c6855;
  font-weight: bold;
  font-size: 12px;
  border-color: #7c6855;
  border-radius: 20px;
  padding: 0.5em 2.5em;
  background-color: #fff;
  border-width: 3px;
}

button:hover {
  background-color: #7c6855;
  color: #fff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.right-side-colon {
  width: 175px;
}

.right-side-colon-box {
  background: #f5e8df;
  border-bottom: #fff 2px solid;
  padding: 2em 2.5em;
}

.right-side-colon-box:hover {
  background: #e1cfc2;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.big-text {
  color: #7c6855;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.small-text {
  color: #7c6855;
  font-size: 10px;
  display: block;
  padding-top: 2px;
  transform: scale(1, 1.2);
  text-align: center;
}

.text {
  padding: 1.13em 2em;
}
